.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 240px;
  padding: 10px;
  background-color: #1e1f20;
}

.main{
  flex: 1;
  position: relative;
}

.side-menu-button{
  padding:12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all; 
}

.side-menu-button:hover{
  background-color: #37393b;
  color: white;
}

.program{
  padding: 24px;
}

.program-text{
  background-color: #37393b;
  padding: 12px;
  color: white;
  width: 90%;
  border: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}


.memories{
  padding: 24px;
}

.memories-text{
  background-color: #37393b;
  padding: 12px;
  color: white;
  width: 90%;
  border: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}


.conversation{
  padding: 24px;
}

.conversation-text{
  background-color: #37393b;
  padding: 12px;
  color: white;
  width: 90%;
  border: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.memory-bar{
  height: 100%;
  width: 240px;
  padding: 10px;
  background-color: #1e1f20;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

